div {
  height:200px;
  width: 200px;
}

#zwart {
  height: 325px;
  width: 50%;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#geel {
  height: 220px;
  width: 35%;
  background-color: yellow;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#blauw {
  height: 200px;
  width: 30%;
  background-color: blue;
  position: absolute;
  top: 120px;
  left: 125px;
  z-index: 3;
}
#rood {
  height: 180px;
  width: 29%;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
}

#groen {
  background-color: green;
  position: absolute;
  top: 75px;
  left: 90px;
  z-index: 5;
}
