* {
  marigin: 0px;
  padding: 0px;
}
body {
  background-color: lightblue;
  front-family: Verdana;
}
header{
  background-image: url('../images/logo.png');
  width: 902px;
  height: 295px;
}
header h1 {
  font-size: 300%;
  color: black;
  text-align: left;
  text-shadow: 5px 5px 7px #000000;
}
