@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  marigin: 0px;
  padding: 0px;
}
body {
  font-family: 'Source Code Pro', monospace;
  background-color: #D4E6FB;
}
header h1 {
  font-size: 300%;
  color: #74A7E0;
  text-align: left;
  text-shadow: 5px 5px 7px #000000;
}
ul li {
  background: #ADA6F2;
  padding: 10px;
  border: solid 2px white;
  display: inline;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul li a:hover {
  background: white;
  color: #ADA6F2;
  padding: 10px;
  border: solid 2px #ADA6F2;
}
a {
  text-decoration: none;
}
a:hover{
  border: #47CEA5;
  color: #ADA6F2;
}
img{
  float: left;
}
section article {
  border: 3px solid #47CEA5;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: #D0FBEE;
}
footer {
  background: #A0C6F0;
}
footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
footer p {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
.wrapper {
  margin: 0 auto 0 auto;
  width: 902px;
}
